<footer class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <h3>About Us</h3>
                <p class="mb-4">
                    <img src="~/Content/images/me.jpg" alt="Image placeholder" class="img-fluid">
                </p>

                <p>Henüz ben de bilmiyorum kim olduğumu tanıma aşamasındayım <a href="@Url.Action("Index", "About")">Read More</a></p>
            </div>
            <div class="col-md-6 ml-auto">
                <div class="row">
                    
                    <div class="col-md-1"></div>

                    <div class="col-md-4">

                        <div class="mb-5">
                            <h3>Quick Links</h3>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index", "About")">About Us</a></li>
                                <li><a href="@Url.Action("Index", "Contact")">Contact</a></li>
                                
                            </ul>
                        </div>

                        <div class="mb-5">
                            <h3>Social</h3>
                            <ul class="list-unstyled footer-social">

                                <li><a href="#"><span class="fa fa-instagram"></span> Instagram</a></li>

                                <li><a href="#"><span class="fa fa-youtube-play"></span> Youtube</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>

