
<section class="site-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="owl-carousel owl-theme home-slider">
                    <div>
                        <a href="@Url.Action("BlogSingle", "Blog", new {id =30 })" class="a-block d-flex align-items-center height-lg" style="background-image: url('../../../Content/images/img_1.jpg'); ">
                            <div class="text half-to-full">
                                 <div class="post-meta">
                                     <span class="author mr-2"><img src="~/Content/images/person_1.jpg" alt=""> Melike Kupen</span>&bullet;
                                    @*<span class="mr-2">March 15, 2018 </span> &bullet;
                                    <span class="ml-2"><span class="fa fa-comments"></span> 3</span>*@

                                </div>
                                 <h3>A 5-Minute Smokey Eye Tutorial that will Change Your Life</h3>
                                 <p>A sultry, smokey eye is the gold standard in makeup. It is the ever-elusive goal for many women; though, it seems to evade many of us.</p>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="@Url.Action("BlogSingle", "Blog", new {id =34 })" class="a-block d-flex align-items-center height-lg" style="background-image: url('../../../Content/images/img_2.jpg'); ">
                            <div class="text half-to-full">
                                <div class="post-meta">

                                    <span class="author mr-2"><img src="~/Content/images/person_1.jpg" alt=""> Melike Kupen</span>&bullet;
                                    

                                </div>
                                <h3>Summertime Shimmery Eye Look Using Solar Flare Eye Shadow Kit</h3>
                                <p>Who doesn’t love a little shimmer during the summer months? Check out this luxe summer eye look with you to add a little shimmer to your summertime look. </p>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="@Url.Action("BlogSingle", "Blog", new {id =31 })" class="a-block d-flex align-items-center height-lg" style="background-image: url('../../../Content/images/img_3.jpg'); ">
                            <div class="text half-to-full">
                                 <div class="post-meta">

                                    <span class="author mr-2"><img src="~/Content/images/person_1.jpg" alt=""> Melike Kupen</span>&bullet;
                                   

                                </div>
                                 <h3>How to clean your makeup brushes</h3>
                                 <p>Why clean your makeup brushes? There are three big reasons for doing so.</p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>


</section>
